/* variables for styles*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root{
    --red-Color:#ca3e47;
    --background-Color:#525252;
    --ul-Color:#313131;
    --font:'Roboto';
}
body{
    background-color: var(--background-Color);
    color: white;
    font-family: var(--font);
}
nav{
    background-color: var(--red-Color);
    padding:1.3rem;
    margin-bottom: 3rem;
}
h1{
    margin-left: 16.5%;
}
ul{
    width:65%;
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
    margin-top: 1rem;
}
li{
    background-color: var(--ul-Color);
    margin-bottom: .4rem;
    padding:.8rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}
li span{
    margin-left: 46%;
}
li div{
    width:25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ca3e47;
    display: inline-block;
    font-size: 0;
    margin-right: 35%;
}
form{
    width: 65%;
    margin: 0 auto;
    text-align: center;
    border: 4px solid var(--red-Color);
    background-color: #414141;
}
form label,form input,form button{
    display: block;
    margin: 0 auto;
    color: white;
}
form input{
    color: black;
}
form input{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
form button{
    background-color: var(--red-Color);
    border: 2px solid var(--red-Color);
    margin-bottom: 1rem;
}
form label{
    margin-top: 1rem;
}